{% extends 'base.html' %}
{% block content %}
	{% if status %}
		{{message}}
		<div class="link-button"><a href="{% url 'mysubscription' %}"><button>Go to your dashboard</button></a></div>
	{% else %}
	<h2>{{message}}</h2>
		<div class="col-sm-4 col-md-6" style="text-align:center;margin:auto;">
				<form class="form-signin" action="{%url "changepassword" request.user.username%}" method="POST">
					{% csrf_token %}
			        <label  class="sr-only">Current password</label>
			        <input type="password" id="inputUserEmail" class="form-control" placeholder="Current password" name="last_password" required autofocus><br>
			        <label for="inputPassword" class="sr-only">New password</label>
			        <input type="password" id="inputPassword" class="form-control" placeholder="New password" name="new_password" required>
			        <br>
			        <label for="inputPassword" class="sr-only">Confirm password</label>
			        <input type="password" id="inputPassword" class="form-control" placeholder="Confirm password" name="confirm_password" required>
			    	<br>
					<input class="btn btn-primary" type="submit" value="Log In" style="width:100%">
				</form>
		</div>
	{% endif %}

{% endblock content %}