a ul li{
	margin-right: 25px;
}
.offers_block{
	display:grid;
	max-width: 100%;
	font-weight: 100;
	text-align: center;
	grid-template-columns:repeat(6,1fr);
	grid-auto-rows:minmax(100px,auto);
	grid-gap:0px 10px;
}
	.block1{
		display: grid;
		grid-row:1/4;
		grid-column:1/3;
		grid-template-columns:repeat(2,1fr);
		grid-auto-rows:minmax(25px,auto);
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	}
		.block1_child1{
			grid-row:1/3;
			grid-column:1/3;
			background-color: #1f1f1f;
			color: #fafafa;
			display: flex;
		}
		.block1_child2{
			grid-row:3/15;
			grid-column:1/3;
			display: flex;
		}
		.block1_child3{
			grid-row:15/17;
			grid-column:1/3;
			display: flex;
			background-color: #1f1f1f;
			color: #fafafa;
		}
	.block2{
		display: grid;
		grid-row:1/4;
		grid-column:3/5;
		grid-template-columns:repeat(2,1fr);
		grid-auto-rows:minmax(25px,auto);
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	}
		.block2_child1{
			grid-row:1/3;
			grid-column:1/3;
			background-color: #1f1f1f;
			color: #fafafa;
			display: flex;
		}
		.block2_child2{
			grid-row:3/15;
			grid-column:1/3;
			display: flex;
		}
		.block2_child3{
			grid-row:15/17;
			grid-column:1/3;
			display: flex;
			background-color: #1f1f1f;
			color: #fafafa;
		}
	.block3{
		display: grid;
		grid-row:1/4;
		grid-column:5/7;
		grid-template-columns:repeat(2,1fr);
		grid-auto-rows:minmax(25px,auto);
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	}
		.block3_child1{
			grid-row:1/3;
			grid-column:1/3;
			background-color: #1f1f1f;
			color: #fafafa;
			display: flex;	
		}
		.block3_child2{
			grid-row:3/15;
			grid-column:1/3;
			display: flex;

		}
		.block3_child3{
			grid-row:15/17;
			grid-column:1/3;
			display: flex;
			background-color: #1f1f1f;
			color: #fafafa;
		}
.acc_page{
	display:grid;
	max-width: 100%;
	margin: 0px auto;
	padding: 20px 40px;
	grid-template-columns:100%;
	grid-auto-rows:minmax(150px,auto);
	grid-gap:20px;
	background-color: #ccc;
}

.account_page_content{
	display:grid;
	max-width: 100%;
	
	grid-template-columns:repeat(9,1fr);
	grid-auto-rows:minmax(150px,auto);
	grid-gap:20px;
	
}
	.account_page_content > div{
		background-color: #bdbdbd;
		padding:0px;
		box-shadow: 0px 1px 5px 0px lightslategrey;
		border-radius: 5px
	}
	.profile{
		
		grid-row:1/3;
		grid-column:1/3;
		display: grid;
		grid-template-columns:1fr;
		grid-auto-rows:minmax(0px,auto);
		grid-gap:0px;
	}
		.profile > div{
			background-color: #BDBDBD;
			padding: px;
			margin: 5px;
		}
		.profile .p_pic{
			grid-column:;
			/* grid-row:1/4; */
			
			

		}
		.profile .p_details{
			grid-column:;
			/* grid-row:4/6; */
			background-color: #ccc;
			
			
		}
			.p_details p{
				margin: 0px;
				padding: 3px;
			}
		.profile .edit_details{
			/* grid-column:1/3;
			background-color: #ccc;
			grid-row:11/12;
			padding: 0px;
			text-align: right; */
			
		}
	.newspapers{
		grid-column:3/13;
		grid-row:1/7;
	}
	.offers{
		grid-row:3/5;
		grid-column:1/3;
		
	}
	.bills{
		grid-row:5/7;
		grid-column:1/3;
	}


#newspaper-section{
	padding: 0px 20px;
	margin-top: 10px;
	display:grid;
	grid-template-columns:repeat(5,1fr);
	grid-auto-rows:minmax(auto,auto);
}

	#newspaper-section .message{
		grid-column:1/6;
		text-align: center;
		background-color: ;
	}
	
	.link-button{
		grid-column:2/5;
		
		background-color: ;
		text-align: center;
	}
	
	.link-button #myBtn{
		border: 1px solid black;
		color: black;
		padding: 1px 22px;
		background-color: #bdbdbd;
		border-radius: .25em;
	}

	   
	
	.link-button #myBtn:hover{
		border:1px solid darkslategrey;
	    color: #fafafa;
	    cursor: pointer;
	    background: darkslategrey;
	    padding: 1px 22px;
	}

	#newspaper-section .title{
		font-size: 25px;
		grid-column:2/3;
		background-color: ;
		
	}
	#newspaper-section .sub_user{
		grid-column:1/2;
		font-size: 25px;
		background-color: ;
	
	}
	#newspaper-section .paper.address{
		grid-column:3/4;
		font-size: 25px;
		background-color: ;
	
	}
	#newspaper-section .start-date{
		grid-column:4/5;
		font-size: 25px;
		background-color: ;
	
	}
	#newspaper-section .bill{
		grid-column:5/6;
		font-size: 25px;
		background-color: ;
		
	}
	#newspaper-section .paper-title{
		margin-left: 10px;
		/*grid-column:2/3;*/
		font-size: 25px;
		font-weight: 200;
		background-color: ;
		
	}
	#newspaper-section .paper-sub-user{
		/*grid-column:1/2;*/
		font-size: 25px;
		background-color: ;
	
	}
	#newspaper-section .paper-address{
		/*grid-column:3/4;*/
		font-size: 25px;
		background-color: ;
	
	}
	#newspaper-section .paper-start-date{
		/*grid-column:4/5;*/
		font-size: 20px;
		font-weight: 200;
		background-color: ;
		
	}
	#newspaper-section .paper-bill{
		/*grid-column:5/6;*/
		background-color: ;
		font-size: 20px;
		font-weight: 200;
		
	}
	#newspaper-section .total-amount{
		grid-column:2/4;
		font-size: 2vw
	}
	#newspaper-section .total-bill{
		grid-column:4/6;
		font-size: 20px;
	}
	#newspaper-section .remove-button{
		display: flex;
		grid-column: 1/6;
		border-bottom: 1px solid;
		padding: 5px 0px;
	}
	#newspaper-section .address{
		margin-left:10px;
		grid-column:1/6;
		background-color: ;
		font-size: 20px;
		
		font-weight: 300;
	}
	#newspaper-section .edit{
		grid-column:1/6;
		text-align: right;
		background-color: ;
	}
	#newspaper-section .space{
		grid-column:1/6;
		background-color: ;
	}


.banner_head1{
	font-family: 'Rambla'; 
	font-size:4em;
	text-shadow: 0 9px 17px black;
	color:#ffffff;
}
.banner_head2{
	font-family: 'Rambla'; 
	font-size:5em;
	margin-top: 20px;
	color:#ffffff;
    text-shadow: 0px 3px 3px black;
}
.company_name{
	margin:auto;font-family: Righteous;font-size: 5em;
}
.login_button{
	width: 25%;
	height: 3em;
    background-color: #262321;
    border: 2px solid #262321;
    color: #fafafa;
}
.button_text{
	font-size: 1.4em;
	font-weight: 200;
	letter-spacing: 2px;
}
@media (max-width:400px){
/* .button_text{
	font-size: .8em;
	font-weight: 200;
	letter-spacing: 2px;
} */
}
@media (max-width:767px){
	.banner_head1{
		font-family: 'Rambla'; 
		font-size:2em;
		text-shadow: 0 3px 2px grey;
		color:#ffffff;
	}
	.banner_head2{
		font-family: 'Rambla'; 
		font-size:3em;
		margin-top: 20px;
		color:#ffffff;
	}

	.company_name{
		margin:auto;
		font-family: Righteous;
		font-size: 3em;
	}
	.login_button{
		width: 25%;
		height: 3em;
	    background-color: #262321;
	    border: 2px solid #262321;
	    color: #fafafa;
	}

	form.example input[type=text] {
	    padding: 10px;
	    color:#262321;
	    font-size: 17px;
	    border: 2px solid #262321;
	    float: center;
	    width: 13em;
	    height: 3em;
	    background: #f1f1f1;
	}

	form.example button {
	    float: center;
	    width: 3em;
	    height: 3em;
	    margin-top: 1px;
	    padding: 2px;
	    background: #262321;
	    color: white;
	    font-size: 17px;
	    border: 2px solid #262321;
	    cursor: pointer;
	}

	form.example button:hover {
	    background: #9da5a8;
	}

	form.example::after {
	    content: "";
	    clear: both;
	    display: table;
	}

	.account_page_content{
		grid-gap: 20px 0px;
	}
	.profile{
		grid-row:1/3;
		grid-column:2/9;

	}
	.newspapers{
		grid-row:3/7;
		grid-column:1/10;
	}
	.offers{
		grid-row:7/9;
		grid-column:1/10;
	}
	.bills{
		grid-row:9/11;
		grid-column:1/10;
	}
	#newspaper-section{
		margin-top: 0px;
		padding:0px 10px;
		
	}

	#newspaper-section .paper-title{
		
		font-size: 5vw;
		
		
	}
	#newspaper-section .paper-start-date{
		
		font-size: 3vw;
		
		
	}
	#newspaper-section .paper-bill{
		
		font-size: 3vw;
		
		
	}
	#newspaper-section .total-amount{
		grid-column:2/4;
		font-size: 4vw
	}
	#newspaper-section .total-bill{
		grid-column:4/6;
		font-size: 3vw;
	}

	#remove-button a{
    	font-size: 10px;
	}

	#remove-button a:hover{
	    font-size: 10px;
	}

}
form.example input[type=text] {
    padding: 10px;
    color:#262321;
    font-size: 17px;
    border: 2px solid #262321;
    float: center;
    width: 13em;
    height: 3em;
    background: #f1f1f1;
}

form.example button {
    float: center;
    width: 3em;
    height: 3em;
    margin-top: 1px;
    padding: 2px;
    background: #262321;
    color: white;
    font-size: 17px;
    border: 2px solid #262321;
    cursor: pointer;
}

form.example button:hover {
    background: #9da5a8;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.footer_link{
	color:#fafafa;
}
.footer_link:hover{
	color:white;
}
.newspaper-heading{
	background-color: #212529;
    border-radius: 5px 5px 0px 0px;
    padding:0px 10px;
    color: #fff;
    font-weight: 100;
    font-size: 2vw;
}

.newspaper-other-headings{
	background-color: #212529;
    padding:0px 10px;
    
    color: #fff;
    font-weight: 100;
    font-size: 2vw;

    border-radius: 0px;
    width: 50%;
    margin-top: 30px;
    margin-left: 20px;
}
@media (min-width:992px){
	.navbar-nav{
		margin: auto;
	}
	.navbar-brand{
	    position: absolute;
	}
	.navbar-expand-lg {
		position: relative;
		width:100%;
	}
}
.steps{
	background-color:#743030;
}





#navbarNavAltMarkup ul li .nav-link{
	color:lightgrey;
	font-weight: 100;
}
#navbarNavAltMarkup ul li .nav-link.active{
	color:white;
}

#navbarNavAltMarkup ul li .nav-link:hover{
	color:white;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: darkslategrey !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.scroll{
	height: 300px;
	
	overflow-y: auto; 
}