{% extends 'base.html' %}
{% block content %}


<div class="nav">
	<div class="toggle">
		<div class="display"><span style="float:left;">Categories</span><i class="fa fa-bars"></i></div>
	</div>
	<div class="nav-items" id="nav-items-display">
		
			<a href=""><div class="zero active" >Today</div></a>	
		
		
			<a href=""><div class="one ">Business</div></a>	
		
			<a href=""><div class="two">Sports</div></a>
		
		
			<a href=""><div class="three">Technology</div></a>
		
		
			<a href=""><div class="four">Politics</div></a>
		
		
			<a href=""><div class="five">Startups</div></a>
		
		
			<a href=""><div class="six">Trending</div></a>
		
		
			<a href=""><div class="seven">Entertainment</div></a>
		
	</div>
</div>
<div class="headline-content-area">
	<div style="margin:0px 20px;" id="content-area1">
		{% for item in all_genres %}
			<p class="content-area" style="margin:0px">{{item}}</p>
				
				<ul style="background:#F5F5F5;box-shadow: 1px 1px 5px -2px grey;font-weight:100;text-transform: none;">
						
					{% for items in headlines %}
						{% ifequal items.genre item %}
							
								<li>{{items.headline}}</li>
							

						{% endifequal %}
					{% endfor %}
				</ul>
		{% endfor %}
	</div>
</div>
{% endblock %}