{% extends 'base.html' %}
{% block content %}


<div class="nav">
	<div class="toggle">
		<div class="display"><span style="float:left;">Categories</span><i class="fa fa-bars"></i></div>
	</div>
	<div class="nav-items" id="nav-items-display">
		
			<a href=""><div class="zero active_digest" >Today</div></a>	
		
		
			<a href=""><div class="one ">Business</div></a>	
		
			<a href=""><div class="two">Sports</div></a>
		
		
			<a href=""><div class="three">Technology</div></a>
		
		
			<a href=""><div class="four">Politics</div></a>
		
		
			<a href=""><div class="five">Startups</div></a>
		
		
			<a href=""><div class="six">Trending</div></a>
		
		
			<a href=""><div class="seven">Entertainment</div></a>
		
	</div>
</div>
<div class="headline-content-area">
	<div style="" id="content-area1">
		<p class="content-area" style="margin:0px">Genre</p>
		<ul style="background:#F5F5F5;box-shadow: 1px 1px 5px -2px grey;font-weight:100;text-transform: none;">
			&nbsp
			<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quibusdam omnis, est accusamus, reprehenderit ducimus. </li>
			<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quaerat corporis architecto, quisquam dignissimos dolorem. Nisi, ipsum laborum accusantium quos? </li>
			<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, voluptas! </li>
			<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laudantium, dolorem eum amet obcaecati alias nihil facere? Hic consequatur nisi voluptatem, eaque, assumenda asperiores similique.</li>
			&nbsp
			
			
		</ul>
	</div>

	<div style="" id="content-area1">
		<p class="content-area" style="margin:0px">Genre</p>
		<ul style="background:#F5F5F5;box-shadow: 1px 1px 5px -2px grey;font-weight:100;text-transform: none;">
			&nbsp
			<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quibusdam omnis, est accusamus, reprehenderit ducimus. </li>
			<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quaerat corporis architecto, quisquam dignissimos dolorem. Nisi, ipsum laborum accusantium quos? </li>
			<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, voluptas! </li>
			<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laudantium, dolorem eum amet obcaecati alias nihil facere? Hic consequatur nisi voluptatem, eaque, assumenda asperiores similique.</li>
			&nbsp
			
			
		</ul>
	</div>
</div>
{% endblock content %}