{% extends "base.html" %}
{% block content %}
<div class="blur_back">
	<div style="text-align: center;margin: 50px 0px;"><h1>ABOUT US</h1></div>
	
	<p>We are a group of IITians based in Mumbai. Our aim is to streamline the newspaper delivery system. We have a comprehensive list of national and regional dailies that you can choose from to be delivered at your doorstep. We have a flexible system that allows you to cancel or order additional newspapers for any duration. The best part is all of your billing is online! We also take orders for bulk deliveries. Our aim is to make newspaper delivery as hassle-free as possible for our customers, therefore, you only need to contact us for any issues or requests and we will deal with the rest for you. 
	</p>
</div>
{% endblock content %}