{% extends "base.html" %}
{% block content %}
<div class="blur_back">
	<div style="text-align: center;margin: 40px 0px"><h1>CONTACT US</h1></div>
	<p>
		We feel praised when someone try to connect with us. This is the reason why we don't want to miss any opportunity to reach you.
	</p>
	<p>
		Feel free to contact us any time.
	</p>
	<p>
		Call us at:
	<br>
		+91-9045410854,
		+91-8077966653
	</p>
	<p>
		Email us at:
		<br>
		contact@sightnext.com
	</p> 
	<h4> Or</h4>
	<p>Fill the form and we will contact you.</p>
	<div class='row'>
		<div class="col-md-6 col-sm-6 com-12">{% include 'contact_form.html' %}</div>
	</div>
</div>

{% endblock content %}