{% extends "base.html" %}
{% block content %}
<div style="text-align: center;margin: 50px 0px;"><h1>FAQ</h1></div>
<div id="accordion" role="tablist" style="margin-bottom:50px;">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Do I need to cancel my subscription with my current vendor?

        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        No cancellation is required on signing up with our subscription. Once you have entered your vendor identification number (VIN), your subscription will be shifted to our end and we will communicate your order with your vendor. In case you don’t know your VIN number simply register we will communicate your order with nearest vendor.

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Can I subscribe to multiple papers?

        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Yes, you need to be subscribed to at least one newspaper and you can add on as many dailies as you want. We also provide the option of additional subscription on particular days of your choice. You can read more about add-ons here.

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How can I stop my deliveries?
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        To stop your deliveries for a short duration of time you can go to Account Settings > Calendar and simply choose which dates you want to cancel your delivery for. Please keep in mind that you need to update your cancellation request before ___ AM to cancel that particular day’s delivery.

      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I pay for my subscription?

        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        You can pay for your delivery either in the prepaid mode or in the postpaid mode, both of which will be online.


      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          How do I end my subscription?

        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        You can end your subscription once your dues are cleared. To end your subscription go to Account Settings > My subscriptions and select the newspaper(s) you wish to unsubscribe to.

      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          How will I receive the amount for cancelled deliveries?

        </a>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        The refund for the cancelled deliveries will be adjusted in the next month’s payment cycle.

      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingSeven">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Will there be extra charges for add-ons?


        </a>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        Yes for every add-on newspaper, the standard newspaper charges will be applicable.

      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingEight">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">
          Will there be any regional newspapers?

        </a>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        Yes, we have compiled a comprehensive list of dailies in India for you to choose from. If the newspaper you need is not in the list, please feel free to contact us for the same and we will work towards making it available in your area.

      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingNine">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Can I know who my vendor is?


        </a>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body">
        Yes, you can know your vendor’s name and VIN in the Account Settings > Vendor section.


      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTen">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Can I change my vendor?
        </a>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
      <div class="card-body">
        Yes, if you are dissatisfied with the services, you can change your vendor by going to Account Settings > Vendor > Change section and choosing a reason from the list provided.



      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingEleven">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          What if I have a change in address?



        </a>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven" data-parent="#accordion">
      <div class="card-body">
        You can easily update your address in the Account Settings > ______ section. Please note that it will take 72 hours for any changes to reflect.



      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwelve">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          When can I expect my delivery?



        </a>
      </h5>
    </div>
    <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#accordion">
      <div class="card-body">
        You can expect your delivery between 5 AM to 8:30 AM.



      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThirteen">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          What is the reason behind late delivery?



        </a>
      </h5>
    </div>
    <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen" data-parent="#accordion">
      <div class="card-body">
        There can sometimes be unexpected delays due to adverse conditions and you will be informed of the same in advance.


      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFourteen">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          Are there any delivery charges?



        </a>
      </h5>
    </div>
    <div id="collapseFourteen" class="collapse" role="tabpanel" aria-labelledby="headingFourteen" data-parent="#accordion">
      <div class="card-body">
        Yes, there will be nominal delivery charges depending on the standard charges of the vendors in your area.


      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingSixteen">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          Can I contact my vendor?



        </a>
      </h5>
    </div>
    <div id="collapseSixteen" class="collapse" role="tabpanel" aria-labelledby="headingSixteen" data-parent="#accordion">
      <div class="card-body">
        We are now your online paperboy and our aim is to make your newspaper deliveries as hassle-free as possible. Please feel free to contact us with your grievances or any other issues that you face at our *email* and *number*. 



      </div>
    </div>
  </div>


</div>
{% endblock content %}