{% extends "homepage.html" %}
{% load staticfiles%}
{% block homecontent %}





<!-- <div class="container">
	<div class="about-section para gap">
		<div class="col-md-12 col-sm-12" >
			<div style="background-color: rgba(255, 255, 255, 0.62); border-radius:5px;padding:5px">
				<div class="col-md-12">
					<div style="text-align: center; display:flex"><h2 style="margin:auto; padding:5px;border-top: 2px solid;border-bottom: 2px solid;"> <STRONG>SIGHTNEXT</STRONG> </h2></div>
					<div style="text-align: center;">
						<p style="">
							We are here for a change.<br>We provide an easy and efficient way to manage your newspaper subscription.<br> We have an inclusive list of national and regional newspapers, that you can choose from to be delivered at your doorsteps.<br> We have a flexible system that allows you to cancel or order additional newspapers for any duration.<br> And you can pay for these <br> Anytime, Anywhere - as per your convenience.
					
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- our daily deliveries -->
<!-- <div class="container">
	<div style="margin-top: 2em;">
		<div class="col-md-12 col-sm-12 gap">
			<div style="background-color: rgba(255, 255, 255, 0.62); border-radius:5px;padding:5px">
				<div class="col-md-12">
					<div style="text-align: center;"><h2>Our Daily Deliveries</h2></div>
				</div>
				<div>
			</div>
		</div>
	</div>
</div> -->
<!--  -->
<!-- account dashboard -->
<div class="newspaper_image" style="height:500px;">
	<div style="width:100%;height:100%;display:flex" >
		<div class="gap" style="margin:auto;">
			<div style=" border-radius:5px;padding:5px;">
				<div class="col-md-12">
					<div style="text-align: center; display:flex"><h2 style="margin:auto; padding:5px;border-top: 2px solid;border-bottom: 2px solid;"> <STRONG>DASHBOARD MANAGEMENT</STRONG> </h2></div>
				</div>
				<div style="text-align: center;"><p>you can manage and customize your newspaper order in your dashboard </p></div>
				<div style="text-align: center;"><a href=""><button class="manage_button">Manage your account</button></a></div>
			</div>
		</div>
	</div>
</div>
<!--  -->
<!-- steps to follow -->
<div class="container">
	<div style="margin-top: 2em;">
		<div class="col-md-12 col-sm-12 gap">
			<div style="background-color: rgba(255, 255, 255, 0.62); border-radius:5px;padding:5px">
				<div class="col-md-12 web_steps">
					<div style="text-align: center;"><h2>Steps To Follow</h2></div>
					<div class=""><img src="{% static 'images/web_steps.png' %}" alt="" class="img-fluid"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  -->
<!-- Assistance -->
<!-- <div class="container">
	<div>
		<div class="col-md-12 col-sm-12 gap">
			<div style="background-color: rgba(255, 255, 255, 0.62); border-radius:5px;padding:5px">
				<div class="col-md-12">
					<div style="text-align: center;"><h2>Assistance</h2></div>
					<p class="para">That is why we provide a no of ways in which we can help you to get to know us. From subscription of first newspaper to modifying your weekly plan. We are here for help and just a step away.</p>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!--  -->
<!-- let us help you -->
	<div class="" style="margin-top: 6em;">
		<div class="site_head col-md-12">
			<div class="site_head_child">
				<div>
					<h4 style="color: #fafafa;font-weight: 100;font-size: 35px;">Let Us Help You</h4>
					<p style="color:#fafafa;font-weight: 100;">Do let us know how we can help you. Please feel free to email us with your issue as the subject line or give us a call at anytime, any day. ( the details are in the contact section )</p>
					{% include 'help_form.html' %}
				</div>
				<div></div>
			</div>
		</div>
	</div>

<!--  -->

<!-- intro video -->
<div class="container">
	<div style="margin-top: 6em;">
		<div class="col-md-12 col-sm-12 gap">
			<div style="background-color: rgba(255, 255, 255, 0.62); border-radius:5px;padding:5px">
				<div class="col-md-12">
					<div style="text-align: center;"><h2>Introductory Video</h2></div>
					<div class="offers_block">
						<div class="block1">
							<div class="block1_child1"><span style="margin: auto;">Cashback & Offers</span></div>
							<div class="block1_child2"><span style="margin: auto;">Exciting offers to gain double the value you pay and much more with stipulated discount on every newspaper.</span></div>
							<div class="block1_child3"><a style="margin: auto;cursor: pointer;">View details &raquo;</a></div>  
						</div>
						<div class="block2">
							<div class="block2_child1"><span style="margin: auto;">Online Payment</span></div>
							<div class="block2_child2"><span style="margin: auto;">No more waiting for your local vendor to pay the bill. Just pay the bill wherever and whenever you want with variety of online payment options.</span></div>
							<div class="block2_child3"><a style="margin: auto;cursor: pointer;">View details &raquo;</a></div> 
						</div>
						<div class="block3">
							<div class="block3_child1"><span style="margin: auto;">Work with us</span></div>
							<div class="block3_child2"><span style="margin: auto;">We are providing a holistic solution to newspaper industry, which till date is either not available or scattered in bits and pieces. If you want to work with us feel free to contact us.</span></div>
							<div class="block3_child3"><a href=" {% url 'workwithus' %} "style="margin: auto;cursor: pointer;">View details &raquo;</a></div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  -->


<script>
function validateForm() {
    var x = document.forms["req-contact-form"]["contact"].value;
    y=x.toString().length;
    if (y != 10) {
        alert("please enter a valid no.");
        return false;
    }
    else{
      alert("Thank you for request. We will get back to you as soon as possible.")
      return true;
    }
}
</script>

{% endblock homecontent %}