{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Terms and conditions</h1>
<p>These terms and conditions ("Terms", "Agreement") are an agreement between Website Operator ("Website Operator", "us", "we" or "our") and you ("User", "you" or "your"). This Agreement sets forth the general terms and conditions of your use of the http://www.sightnext.com website and any of its products or services (collectively, "Website" or "Services").</p>
<h1>Accounts and membership</h1>
<p>If you create an account on the Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. Providing false contact information of any kind may result in the termination of your account. You must immediately notify us of any unauthorized uses of your account or any other breaches of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>
<h1>Changes and amendments</h1>
<p>We reserve the right to modify this Agreement or its policies relating to the Website or Services at any time, effective upon posting of an updated version of this Agreement on the Website. When we do we will revise the updated date at the bottom of this page. Continued use of the Website after any such changes shall constitute your consent to such changes. </p>
<h1>Acceptance of these terms</h1>
<p>You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using the Website or its Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the Website and its Services.</p>
<h1>Contacting us</h1>
<p>If you have any questions about this Agreement, please <a href="{% url 'contact' %}" style="color:#111111">contact us</a>.</p>
{% endblock content %}
