{% extends "account.html"%}
{%load crispy_forms_tags%}
{%block data%}
{{title}}
{% if message %}
{{message}}
<a class="btn btn-lg btn-success" href="{% url 'subscribe_paper' %}" role="button">Get Started</a>
{%else%}
<div class = ="container">
	<div class = "col-md-4">
		<form method='POST' action="{% url 'subscribe_paper' %}">{%csrf_token%}
			{{form|crispy}}
			<input class="btn btn-primary " type="submit" value="submit" name="submit" style="width:100%">
		</form>
	</div>
</div>
{% endif %}
	
{% endblock data%}

